* {
	font-family: JetBrainsMono Nerd Font Mono Medium;
	font-weight: 600;
	font-size: 13.5pt;
	color: #c0caf5;
}

/* main waybar */
window#waybar {
	background: rgba(26, 27, 38, 0);
}

/* when hovering over modules */
tooltip {
	background: #1e1e2e;
	border-radius: 5%;
}

#workspaces button {
	padding: 2px 5px 2px 5px;
	font-weight: bold;
	border-radius: 10%;
}

/* Sets active workspace to have a solid line at the top */
#workspaces button.visible {
	border-top: 2px solid #7aa2f7;
	padding: 0px 5px 2px 5px;
	border-radius: 0;
	/* transition: all 0.3s ease-out; */
}
/* Change button text color */
/* #workspaces button.focused label { */
/* 	color: #7aa2f7; */
/* } */

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
	color: #a6adc8;
}

#workspaces button.urgent {
	color: #f7768e;
}

#workspaces button:hover {
	background: #11111b;
	color: #cdd6f4;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Sets background, padding, margins, and borders for (all) modules */
#workspaces,
#clock,
#window,
#temperature,
#cpu,
#memory,
#wireplumber,
#tray,
#battery {
	background: rgba(26, 27, 38, 0.4);
	border: 0;
	background-color: transparent;
}
#clock {
	padding-right: 10px;
}
