[mgr]
ratio = [0, 1, 2]
sort_by = "natural"
sort_sensitive = false
sort_reverse = false
sort_dir_first = true
linemode = "size"
show_hidden = false
show_symlink = true
scrolloff = 20

[preview]
tab_size = 2
max_width = 600
max_height = 900

[opener]

[open]

[tasks]
micro_workers = 5
macro_workers = 10
bizarre_retry = 5
